---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { GitHub, Twitter, Linkedin, Bitcoin } from "astro-feather-icons";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="bg-white-100 p-4">
			<div class="container mx-auto">
				<div class="text-3xl font-bold mb-2 text-center">
					Andrés Marrugo
				</div>
				<div class="text-xl font-medium mb-6 text-center">
					Frontend Developer
				</div>
				<div
					class="bg-slate-50 py-2 mb-5 flex justify-center space-x-3"
				>
					<a href="https://github.com/andresmarrugo" target="_blank">
						<GitHub
							class="text-gray-700 hover:text-purple-700"
							size={16}
						/>
					</a>
					<a href="https://twitter.com/andiesmarrugo" target="_blank">
						<Twitter
							class="text-gray-700 hover:text-purple-700"
							size={16}
						/>
					</a>
					<a
						href="https://www.linkedin.com/in/andresmarrugo/"
						target="_blank"
					>
						<Linkedin
							class="text-gray-700 hover:text-purple-700"
							size={16}
						/>
					</a>
				</div>
				<div class="mb-12">
					<h2 class="text-xl font-bold mb-2">Resume</h2>
					<p class="text-gray-700">
						Over the last 3 years, I've been working as a web
						developer. I've been using React and some of its
						essential libraries, like React Router, Redux, React
						Query, Axios, Material UI, Ant Design, TypeScript, and
						React Hook Forms. My daily workflow involves using Git
						for version control and work whit the team. I'm also
						experienced with Docker and popular cloud services like
						Azure, AWS, and Google Cloud. I've had the opportunity
						to work on several projects for different clients, using
						the Scrum methodology and issue tracking tools such as
						Jira and Trello. I'm confident in my ability to bring
						success to any project I work on, and I'm always eager
						to learn and grow as a developer.
					</p>
				</div>
				<div class="mb-5">
					<h2 class="text-xl font-bold mb-2">Skills</h2>
					<div class="mb-3">
						<h3 class="text-lg font-medium mb-2">
							React and its Ecosystem
						</h3>
						<div class="flex flex-wrap mb-2">
							<div
								class="p-2 mr-2 mb-2 bg-purple-200 rounded-full"
							>
								React
							</div>
							<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
								React Router
							</div>
							<div
								class="p-2 mr-2 mb-2 bg-purple-100 rounded-full"
							>
								Redux
							</div>
							<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
								React Query
							</div>
							<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
								Axios
							</div>
							<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
								Material UI
							</div>
							<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
								Ant Design
							</div>
							<div
								class="p-2 mr-2 mb-2 bg-slate-300 rounded-full"
							>
								TypeScript
							</div>
							<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
								React Hook Forms
							</div>
							<div
								class="p-2 mr-2 mb-2 bg-purple-200 rounded-full"
							>
								Next JS
							</div>
						</div>
					</div>
				</div>
				<div class="mb-5">
					<h3 class="text-lg font-medium mb-2">
						Tools and Technologies
					</h3>
					<div class="flex flex-wrap mb-2">
						<div class="p-2 mr-2 mb-2 bg-orange-200 rounded-full">
							Git
						</div>
						<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
							Jira
						</div>
						<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
							Trello
						</div>
						<div class="p-2 mr-2 mb-2 bg-slate-200 rounded-full">
							Docker
						</div>
						<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
							Azure
						</div>
						<div class="p-2 mr-2 mb-2 bg-purple-100 rounded-full">
							AWS
						</div>
						<div class="p-2 mr-2 mb-2 bg-gray-200 rounded-full">
							Google Cloud
						</div>
						<div class="p-2 mr-2 mb-2 bg-slate-300 rounded-full">
							VS Code
						</div>
					</div>
				</div>
			</div>

			<div>
				<h2 class="font-bold mb-2 text-xl">Experience</h2>
				<div class="flex flex-col bg-slate-200 rounded-lg p-6 pt-5">
					<h3 class="text- font-semibold text-pastel-500 pb-1">
						Frontend Developer
					</h3>
					<h4 class="text-sm font-medium text-pastel-400 pb-1">
						Lean Tech
					</h4>
					<p class="text-sm text-slate-600 pb-3">
						November 2019 - September 2022
					</p>
					<p class="text-sm text-pastel-400">
						During my time at Lean Tech, I had the opportunity to
						work on the implementation of various software products
						for international clients in the freight transportation
						industry in the USA. As a frontend developer, I played a
						crucial role in ensuring the successful delivery of
						these projects. Collaborating closely with the team, I
						worked towards a common goal of delivering high-quality
						software solutions that met the needs and expectations
						of our clients.
					</p>
				</div>
			</div>
		</main>

		<Footer />
	</body>
</html>
