---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>¡Hola a todos! bienvenidos a mi blog</h2>
			<p>
				Mi nombre es <strong id="name">Andrés</strong> y me dedico al
				<strong>desarrollo web</strong>, especialmente en el ámbito del <strong
					>frontend</strong
				>. Me apasiona construir aplicaciones <strong>atractivas</strong
				> y <strong>fáciles de usar</strong> para las personas. Soy originario
				de <strong>Colombia</strong> y tengo un gran interés en la <strong
					>tecnología</strong
				>, especialmente en el ámbito de la <strong
					>descentralización</strong
				> y las <strong>criptomonedas</strong>.
			</p>

			<p>
				En mi blog, encontrarás contenido relacionado con el <strong
					>desarrollo de software</strong
				> y <strong>tecnología en general</strong>. Compartiré mis
				pensamientos e ideas sobre <strong>criptomonedas</strong> y <strong
					>descentralización</strong
				>. Mi objetivo es compartir lo que sé y lo que he aprendido con
				otros interesados en estos temas de una forma amigable y
				relajada.
			</p>

			<p>
				Echa un vistazo a mi blog y siéntete libre de dejar tus
				comentarios. Estoy emocionado de compartir mi contenido contigo.
				¡Nos vemos por aquí!
			</p>
		</main>
		<Footer />
	</body>
</html>
